@import '../../styles/utility.scss';

button {
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: 2px solid black;
    text-align: center;
    background-color: rgba(16, 17, 20, 0.5);
    min-width: 150px;
    width: calc(100vw/3);
    height: 42px;
}

a {
     text-decoration: none
 }

 nav {
    display: flex;
    justify-content: space-between
 }
