<header class="container">
  <nav class="margin--sm">
    <button (click) = "redirectGeneralStats()">Overview</button>
    <button (click) = "redirectDetailedStats()">Detailed Stats</button>
  </nav>
</header>

<div class="container"><router-outlet></router-outlet></div>