<div>
  <input class="padding--xs" name="playerSearch" value = {{searchString}} type="text" placeholder="Enter Player Name" [(ngModel)]="searchString" (keydown)="onKeyDown($event)">
  <button class="padding--xs" name="searchButton" (click)="onSumbitSearchPlayer()"><i class="fas fa-search"></i></button>
</div>
