@import '../../../styles/utility.scss';

input {
  border: none;
  width: 100%;
}

button{
  text-decoration: none;
  cursor: pointer;
  display: block;
  background-color: grey;
  border: none;
  text-align: center;
}

div {
  display:flex; 
  align-items: center
}

i {
  color: white
}