<div class="main">

  <div class="stats padding--xxs margin-bottom--xs">
    <h3 class="margin-bottom--xxs">Combat</h3>
    <div class="content">
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Assists</h4>
        <p>{{stats.assists.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Deaths</h4>
        <p>{{stats.deaths.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Efficiency</h4>
        <p>{{stats.efficiency.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>KDA</h4>
        <p>{{stats.killsDeathsAssists.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>KDR</h4>
        <p>{{stats.killsDeathsRatio.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Kills</h4>
        <p>{{stats.kills.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Opponents Defeated</h4>
        <p>{{stats.opponentsDefeated.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Precision Kills</h4>
        <p>{{stats.precisionKills.basic.displayValue}}</p>
      </div>
      <div *ngIf="stats.score.basic.displayValue != '0'" class="padding-right--lg margin-bottom--sm">
        <h4>Score</h4>
        <p>{{stats.score.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Suicides</h4>
        <p>{{stats.suicides.basic.displayValue}}</p>
      </div>
    </div>
  </div>

  <div class="stats padding--xxs margin-bottom--xs">
    <h3 class="margin-bottom--xxs">Best</h3>
    <div class="content">
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Best Single Game Kills</h4>
        <p>{{stats.bestSingleGameKills.basic.displayValue}}</p>
      </div>
      <div *ngIf="stats.bestSingleGameScore.basic.displayValue != '0'" class="padding-right--lg margin-bottom--sm">
        <h4>Best Single Game Score</h4>
        <p>{{stats.bestSingleGameScore.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Fastest Completion</h4>
        <p>{{stats.fastestCompletionMs.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Highest Light Level</h4>
        <p>{{stats.highestLightLevel.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Longest Kill Distance</h4>
        <p>{{stats.longestKillDistance.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Longest Kill Spree</h4>
        <p>{{stats.longestKillSpree.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Longest Single Life</h4>
        <p>{{stats.longestSingleLife.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Most Precision Kills Spree</h4>
        <p>{{stats.mostPrecisionKills.basic.displayValue}}</p>
      </div>
    </div>
  </div>

  <div class="stats padding--xxs margin-bottom--xs">
    <h3 class="margin-bottom--xxs">Misc</h3>
    <div class="content">
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Orbs Dropped</h4>
        <p>{{stats.orbsDropped.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Orbs Gathered</h4>
        <p>{{stats.orbsGathered.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Resurrections Performed</h4>
        <p>{{stats.resurrectionsPerformed.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Resurrections Received</h4>
        <p>{{stats.resurrectionsReceived.basic.displayValue}}</p>
      </div>
    </div>
  </div>

  <div class="stats padding--xxs margin-bottom--xs">
    <h3 class="margin-bottom--xxs">Average</h3>
    <div class="content">
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Average Kill Distance</h4>
        <p>{{stats.averageKillDistance.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Average Lifespan</h4>
        <p>{{stats.averageLifespan.basic.displayValue}}</p>
      </div>
    </div>
  </div>

  <div class="stats padding--xxs margin-bottom--xs">
    <h3 class="margin-bottom--xxs">Game</h3>
    <div class="content">
      <div *ngIf="stats.activitiesEntered" class="padding-right--lg margin-bottom--sm">
        <h4>Activities Entered</h4>
        <p>{{stats.activitiesEntered.basic.displayValue}}</p>
      </div>
      <div *ngIf="stats.activitiesWon" class="padding-right--lg margin-bottom--sm">
        <h4>Activities Won</h4>
        <p>{{stats.activitiesWon.basic.displayValue}}</p>
      </div>
      <div *ngIf="stats.roundsPlayed" class="padding-right--lg margin-bottom--sm">
        <h4>Rounds Played</h4>
        <p>{{stats.roundsPlayed.basic.displayValue}}</p>
      </div>
      <div *ngIf="stats.roundsWon" class="padding-right--lg margin-bottom--sm">
        <h4>Rounds Won</h4>
        <p>{{stats.roundsWon.basic.displayValue}}</p>
      </div>
      <div *ngIf="stats.winLossRatio" class="padding-right--lg margin-bottom--sm">
        <h4>Win %</h4>
        <p>{{stats.winLossRatio.basic.displayValue}}</p>
      </div>
      <div *ngIf="stats.weaponBestType" class="padding-right--lg margin-bottom--sm">
        <h4>Best Weapon</h4>
        <p>{{stats.weaponBestType.basic.displayValue}}</p>
      </div>
    </div>
  </div>

</div>
