@import '../../../../styles/utility.scss';

.main {
    display: flex;
    background-color: rgba(16, 17, 20, 0.5);
    border: 2px solid black;
    justify-content: space-between;
    align-content: center;
    width: 300px;
}

button {
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: rgba(16, 17, 20, 0);
    color: cyan
}

.update-button {
    font-size: var(--text-base-size);
}

.button-flex {
    display: flex;
    align-content: center;
    justify-content: center
}