<div *ngIf="updateAvailable | async" class="main">
    <div class="margin--xxs">
        <p>Dredgen has a new update!</p>
        <button (click)="update()" class="update-button">Click to update</button>
    </div>
    <div class="margin-right--sm button-flex">
        <button (click)="close()" class="close-button"><i class="fas fa-times text-xl"></i></button>
    </div>
</div>
