@import '../../../../styles/utility.scss';

.gambitRank {
    background-color: rgba(16, 17, 20, 0.5);
    border: 2px solid black;
    max-width: 392px;
    width: calc(95vw);
    min-height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

img {
    max-width: 100%;
    max-height: 100%
}