@import '../../../../styles/utility.scss';

.main {
    @media screen and (max-width: 767px) {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center
    }
    @media screen and (min-width: 768px) {
        @include grid;
        @include gridAuto(300px);
    }
}

.stats {
    display: flex;
    flex-direction: column;
    background-color: rgba(16, 17, 20, 0.5);
    border: 2px solid black;
    width: 100%;
}

.content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 75px
}