<div>
  <h3 class="margin-bottom--xxs">Weapon Stats</h3>
  <div class="main">

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Auto Rifle</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsAutoRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsAutoRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsAutoRifle.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Beam Rifle</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsBeamRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsBeamRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsBeamRifle.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Bow</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsBow.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsBow.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsBow.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Fusion Rifle</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsFusionRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsFusionRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsFusionRifle.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Grenade Launcher</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsGrenadeLauncher.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsGrenadeLauncher.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Hand Cannon</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsHandCannon.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsHandCannon.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsHandCannon.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Machine Gun</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsMachineGun.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsMachineGun.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Pulse Rifle</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsPulseRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsPulseRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsPulseRifle.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Rocket Launcher</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsRocketLauncher.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsRocketLauncher.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsRocketLauncher.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Scout Rifle</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsScoutRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsScoutRifle.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsScoutRifle.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Shotgun</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsShotgun.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsShotgun.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsShotgun.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Sidearm</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsSideArm.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsSideArm.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsSideArm.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Sniper</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsSniper.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsSniper.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsSniper.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Submachine Gun</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsSubmachinegun.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsSubmachinegun.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsSubmachinegun.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Sword</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsSword.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Super</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsSuper.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsSuper.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsSuper.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Grenade</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsGrenade.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsGrenade.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsGrenade.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Melee</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsMelee.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Precision Kills</h4>
          <p>{{weapon.precisonKills.weaponPrecisionKillsMelee.basic.displayValue}}</p>
        </div>
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Accuracy</h4>
          <p>{{weapon.accuracy.weaponKillsPrecisionKillsMelee.basic.displayValue}}</p>
        </div>
      </div>
    </div>

    <div class="stats padding--xxs margin-bottom--xs">
      <h3 class="margin-bottom--xxs">Ability</h3>
      <div class="content">
        <div class="padding-right--lg margin-bottom--sm">
          <h4>Kills</h4>
          <p>{{weapon.weaponKills.weaponKillsAbility.basic.displayValue}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
