/* You can add global styles to this file, and also import other style files */
@import './utility.scss';

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--text-color);
    background-color: var(--color-primary);
    background-image: url('/assets/background-image.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-display: auto
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box
}

ul, li {
    list-style-type: none
}

body, html {
    width: 100%
}