:root {
    --font-primary: 'Roboto Condensed';

    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

    --text-color: white;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.4;

    /* spacing values */
    --space-unit: 1em;
    --space-xxs:  calc(0.25 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-lg:   calc(2 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));
    --space-xxl:  calc(5.25 * var(--space-unit));

    /* Custom Spacing */

    /* components padding */
    --component-padding: var(--space-sm);

    /* Colors */
    --color-primary:  rgb(18, 34, 61)
}

/* text size */
.text-xxxl {
    font-size: var(--text-xxxl);
}

.text-xxl {
    font-size: var(--text-xxl);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-md {
    font-size: var(--text-md);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs);
}

.component {
    padding-top: var(--component-padding);
}

/* vertical margins */
.margin-top, .margin-top--md {
    margin-top: var(--space-md);
}

.margin-top--sm {
    margin-top: var(--space-sm);
}

.margin-top--lg {
    margin-top: var(--space-lg);
}

.margin-top--xl {
    margin-top: var(--space-xl);
}

.margin-top--xxl {
    margin-top: var(--space-xxl);
}

.margin-top--xs {
    margin-top: var(--space-xs);
}

.margin-top--xxs {
    margin-top: var(--space-xxs);
}

.margin-bottom, .margin-bottom--md {
    margin-bottom: var(--space-md);
}

.margin-bottom--sm {
    margin-bottom: var(--space-sm);
}

.margin-bottom--lg {
    margin-bottom: var(--space-lg);
}

.margin-bottom--xl {
    margin-bottom: var(--space-xl);
}

.margin-bottom--xxl {
    margin-bottom: var(--space-xxl);
}

.margin-bottom--xs {
    margin-bottom: var(--space-xs);
}

.margin-bottom--xxs {
    margin-bottom: var(--space-xxs);
}

.margin-left, .margin-left--md {
    margin-left: var(--space-md);
}

.margin-left--xs {
    margin-left: var(--space-xs);
}

.margin-left--sm {
    margin-left: var(--space-sm);
}

.margin-left--lg {
    margin-left: var(--space-lg);
}

.margin-left--xl {
    margin-left: var(--space-xl);
}

.margin-left--xxl {
    margin-left: var(--space-xxl);
}

.margin-left--xxs {
    margin-left: var(--space-xxs);
}

.margin-right--xs {
    margin-right: var(--space-xs);
}

.margin-right, .margin-right--md {
    margin-right: var(--space-md);
}

.margin-right--sm {
    margin-right: var(--space-sm);
}

.margin-right--lg {
    margin-right: var(--space-lg);
}

.margin-right--xl {
    margin-right: var(--space-xl);
}

.margin-right--xxl {
    margin-right: var(--space-xxl);
}

.margin-right--xxs {
    margin-right: var(--space-xxs);
}

.padding, .padding--md {
    padding: var(--space-md);
}

.padding--sm {
    padding: var(--space-sm);
}

.padding--lg {
    padding: var(--space-lg);
}

.padding--xl {
    padding: var(--space-xl);
}

.padding--xxl {
    padding: var(--space-xxl);
}

.padding--xs {
    padding: var(--space-xs);
}

.padding--xxs {
    padding: var(--space-xxs);
}

.margin, .margin--md {
    margin: var(--space-md);
}

.margin--sm {
    margin: var(--space-sm);
}

.margin--lg {
    margin: var(--space-lg);
}

.margin--xl {
    margin: var(--space-xl);
}

.margin--xxl {
    margin: var(--space-xxl);
}

.margin--xs {
    margin: var(--space-xs);
}

.margin--xxs {
    margin: var(--space-xxs);
}

.padding-left, .padding-left--md {
    padding-left: var(--space-md);
}

.padding-left--sm {
    padding-left: var(--space-sm);
}

.padding-left--lg {
    padding-left: var(--space-lg);
}

.padding-left--xl {
    padding-left: var(--space-xl);
}

.padding-left--xxl {
    padding-left: var(--space-xxl);
}

.padding-left--xs {
    padding-left: var(--space-xs);
}

.padding-left--xxs {
    padding-left: var(--space-xxs);
}

.padding-right, .padding-right--md {
    padding-right: var(--space-md);
}

.padding-right--sm {
    padding-right: var(--space-sm);
}

.padding-right--lg {
    padding-right: var(--space-lg);
}

.padding-right--xl {
    padding-right: var(--space-xl);
}

.padding-right--xxl {
    padding-right: var(--space-xxl);
}

.padding-right--xs {
    padding-right: var(--space-xs);
}

.padding-right--xxs {
    padding-right: var(--space-xxs);
}

.padding-bottom, .padding-bottom--md {
    padding-bottom: var(--space-md);
}

.padding-bottom--sm {
    padding-bottom: var(--space-sm);
}

.padding-bottom--lg {
    padding-bottom: var(--space-lg);
}

.padding-bottom--xl {
    padding-bottom: var(--space-xl);
}

.padding-bottom--xxl {
    padding-bottom: var(--space-xxl);
}

.padding-bottom--xs {
    padding-bottom: var(--space-xs);
}

.padding-bottom--xxs {
    padding-bottom: var(--space-xxs);
}

$gap-horizontal: 10px;
$gap-vertical: $gap-horizontal;

$gap-horizontal: 10px;
$gap-vertical: $gap-horizontal;

@mixin grid {
    display: grid;
    grid-column-gap: $gap-horizontal;
    grid-row-gap: $gap-vertical;
}

@mixin gridAuto($min-width) {
    @supports(grid-area: auto) {
      grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
    }
}

.container {
    width: 100%;
}