<div class="main container padding--xxs">
    <div class="container top-overview">
        <div class="top-left">
            <app-character-emblem class="margin-bottom--sm" [characterEmblem]="characterEmblem" ></app-character-emblem>
            <app-general-statistics class="margin-bottom--xs" [stats]="pveComp" ></app-general-statistics>
        </div>
        <div>
            <app-gambit-rank [gambitRankIndex]="gambitRankIndex"></app-gambit-rank>
        </div>
    </div>
    <div class="container margin-top--xs">
        <app-gambit-roles-stats [stats]="gambitStats" ></app-gambit-roles-stats>
    </div>
</div>
