@import '../../../styles/utility.scss';

.top-overview {
    display: grid;
    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    } 
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    } 
    justify-items: center
}

.main {
    display: flex;
    flex-direction: column;
}

.top-left {
    display: flex;
    flex-direction: column;
    // justify-content: space-between
}