<div class="container main">
  
  <header class="top-nav container margin-top--xxs">
    <a routerLink="/" class="margin-left--xxs"><img src="./assets/dredgen-name.png"></a>
    <app-search-bar class="searchBar margin-right--xxs"></app-search-bar>
  </header>

  <div class="container" *ngIf='loading === false'>
    <router-outlet></router-outlet>
  </div>

  <div class="loading" *ngIf='loading === true'>
    <img src="./assets/icons/icon-192x242.png">
    <h4>Loading ...</h4>
  </div>

  <div class="margin-left--xxs margin-bottom--xxl update">
    <app-update-notification></app-update-notification>
  </div>
</div>