@import '../styles/utility.scss';

.top-nav {
    display: flex;
    height: 25px;
    align-content: center;
    justify-content: space-between
}

.top-nav > a > img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    display: block;
    @media screen and (max-width: 479px) {
        width: 175px;
    }

    @media screen and (min-width: 480px) {
        width: 250px;
    }
}

.top-nav > a {
    display: inline-block;
}

.searchBar {
    width: calc(100vw/2.5);
}

.loading {
    width: 96px;
    margin: calc(100vh/3) auto; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.loading > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.update {
    position: fixed;
    left: 0;
    bottom: 0;
}