@import '../../../../styles/utility.scss';

.emblem {
    max-width: 474px;
    width: calc(95vw);
    height: 96px;
    background-repeat: no-repeat;
    background-size: auto 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    line-height: 1
}

.light {
    color: #41eacf;
}

.level {
    text-align: end;
}