<div [style.background-image]="'url(https://bungie.net' + characterEmblem.emblemPath + ')'" class="emblem">
    <div class="padding-left--xxl">
        <p class="text-lg line">{{characterEmblem.displayName}}</p>
        <p class="line">{{raceType[characterEmblem.genderType]}} {{classType[characterEmblem.classType]}}</p>
    </div>
    <div class="padding-right--sm level">
        <p class="line">Level {{characterEmblem.level}}</p>
        <p class="line light text-lg"><span>&#10023;</span> {{characterEmblem.lightLevel}}</p>
    </div>
</div>