@import '../../../styles/utility.scss';

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: calc(100vh/3) auto;
}

.accountButton {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap
}

.account > img {
    border: solid black 2px;
}

.account > div {
    width: 100%;
    height: 42px;
    border: solid black 2px;
    border-left-style: hidden;
    text-align: center;
}

.account > div > p {
    line-height: 42px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    text-decoration: none;
    cursor: pointer;
    border: none;
    min-width: 250px;
    width: calc(100vw/3);
    height: 42px;
    display: flex;
    flex-wrap: nowrap
}

.error {
    margin: calc(100vh/2.5) auto;
    text-align: center
}