<div class="container main" *ngIf="accounts; else noAccount">
  <h3 class="header">Choose an Account</h3>
  <div class="accountButton">
    <button name="{{returnPlatformString(account)}}" class="account margin--sm" *ngFor="let account of accounts" (click)="selectedAccount(account)">
      <img src="https://bungie.net{{account.iconPath}}" >
      <div><p>{{returnPlatformString(account)}} {{account.displayName}}</p></div>
    </button>
  </div>
</div>

<ng-template #noAccount>
  <p class="error padding--sm">No accounts for player name retrieved. Please refine your search.</p>
</ng-template>