<div class="main">

  <div class="role padding--xxs margin-bottom--xs">
    <h3 class="margin-bottom--xxs">Invader Stats</h3>
    <div class="content">
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Invasions</h4>
        <p>{{stats.invasions.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Invasion Kills</h4>
        <p>{{stats.invasionKills.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Invasion Deaths</h4>
        <p>{{stats.invasionDeaths.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Invader Kills</h4>
        <p>{{stats.invaderKills.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Invader Deaths</h4>
        <p>{{stats.invaderDeaths.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Motes Denied</h4>
        <p>{{stats.motesDenied.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Primeval Healing</h4>
        <p>{{stats.primevalHealing.basic.displayValue}}</p>
      </div>
    </div>
  </div>

  <div class="role padding--xxs margin-bottom--xs">
    <h3 class="margin-bottom--xxs">Reaper Stats</h3>
    <div class="content">
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Mob Kills</h4>
        <p>{{stats.mobKills.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>High Value Target Kills</h4>
        <p>{{stats.highValueKills.basic.displayValue}}</p>
      </div>
    </div>
  </div>

  <div class="role padding--xxs margin-bottom--xs">
    <h3 class="margin-bottom--xxs">Collector Stats</h3>
    <div class="content">
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Motes Picked Up</h4>
        <p>{{stats.invasions.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Motes Deposited</h4>
        <p>{{stats.invasionKills.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Motes Lost</h4>
        <p>{{stats.motesLost.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Bank Overage</h4>
        <p>{{stats.bankOverage.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Small Blockers Sent</h4>
        <p>{{stats.smallBlockersSent.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Medium Blockers Sent</h4>
        <p>{{stats.mediumBlockersSent.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Large Blockers Sent</h4>
        <p>{{stats.largeBlockersSent.basic.displayValue}}</p>
      </div>
    </div>
  </div>

  <div class="role padding--xxs margin-bottom--xs">
    <h3 class="margin-bottom--xxs">Sentry Stats</h3>
    <div class="content">
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Blocker Kills</h4>
        <p>{{stats.blockerKills.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Primeval Kills</h4>
        <p>{{stats.primevalKills.basic.displayValue}}</p>
      </div>
      <div class="padding-right--lg margin-bottom--sm">
        <h4>Primeval Damage</h4>
        <p>{{stats.primevalDamage.basic.displayValue}}</p>
      </div>
    </div>
  </div>

</div>
