@import '../../../styles/utility.scss';

.top-overview {
    display: grid;
    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    } 
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    } 
    justify-items: center
}

.main {
    display: flex;
    flex-direction: column;
}

.top-left {
    display: flex;
    flex-direction: column;
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

.selector {
    max-width: 474px;
    width: calc(95vw);
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(16, 17, 20, 0.5);
    border: 2px solid black;
    select {
        max-width: 200px;
        min-height: 30px;
        background-color: rgba(16, 17, 20, 0.5);
        color: white
    }
}

.error {
    text-align: center
}