<div class="main container padding--xxs">
  <div class="container top-overview">

    <div class="top-left">
      <div class="selector padding--xxs margin-bottom--sm">
        <h3 class="margin-bottom--xxs">Activity</h3>
        <select (change)='selectedMode($event)' name="activity" [value]='this.selected'>
          <option *ngFor='let option of options' [value]='option.mode'>{{option.name}}</option>
        </select>
      </div>
      <div>
        <a class="margin-bottom" *ngFor='let character of characterEmblems; let i = index'
          [routerLink]="['../' + character.characterId]" queryParamsHandling="preserve">
          <app-character-emblem [characterEmblem]="character"></app-character-emblem>
        </a>
      </div>
    </div>

    <div *ngIf="this.selected === options[0].mode || this.selected === options[1].mode">
      <app-gambit-rank *ngIf="gambitRankIndex" [gambitRankIndex]="gambitRankIndex"></app-gambit-rank>
    </div>
  </div>

  <div class="container margin-top--xs">

    <app-historical-stats *ngIf="this.selected === options[0].mode && historicalStats.Response.pvecomp_gambit.allTime != null"
      [stats]="historicalStats.Response.pvecomp_gambit.allTime"></app-historical-stats>

    <app-historical-stats *ngIf="this.selected === options[1].mode && historicalStats.Response.pvecomp_mamba.allTime != null"
      [stats]="historicalStats.Response.pvecomp_mamba.allTime"></app-historical-stats>

    <app-historical-stats *ngIf="this.selected === options[2].mode && historicalStats.Response.enigma.allTime != null" 
      [stats]="historicalStats.Response.enigma.allTime">
    </app-historical-stats>

  </div>

  <div class="container margin-top--xs">
    <app-gambit-roles-stats *ngIf="this.selected === options[0].mode && gambitStats.gambit !== null"
      [stats]="gambitStats.gambit"></app-gambit-roles-stats>
    <app-gambit-roles-stats *ngIf="this.selected === options[1].mode && gambitStats.prime !== null"
      [stats]="gambitStats.prime"></app-gambit-roles-stats>
  </div>

  <div class="container margin-top--xs">
    <app-weapon-stats *ngIf="this.selected === options[0].mode && weaponStats.gambit !== null" [weapon]="weaponStats.gambit"></app-weapon-stats>
    <app-weapon-stats *ngIf="this.selected === options[1].mode && weaponStats.prime !== null" [weapon]="weaponStats.prime"></app-weapon-stats>
    <app-weapon-stats *ngIf="this.selected === options[2].mode && weaponStats.reckoning !== null" [weapon]="weaponStats.reckoning"></app-weapon-stats>
  </div>

  <div class="container margin-top--xs margin-bottom--sm error">
    <p *ngIf="this.selected === options[0].mode && historicalStats.Response.pvecomp_gambit.allTime == null">
      Please run Gambit at least once to view stats.
    </p>
    <p *ngIf="this.selected === options[1].mode && historicalStats.Response.pvecomp_mamba.allTime == null">
      Please run Gambit Prime at least once to view stats.
    </p>
    <p *ngIf="this.selected === options[2].mode && historicalStats.Response.enigma.allTime == null">
      Please run Reckoning at least once to view stats.
    </p>
  </div>

</div>
