@import '../../../../styles/utility.scss';

.main {
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
    flex-direction: column;
    background-color: rgba(16, 17, 20, 0.5);
    border: 2px solid black;
    max-width: 474px;
    width: calc(95vw);
    height: 96px;
}

.statName {
    display: flex;
    flex-direction: column
}

.stat {
    display: flex;
    flex-wrap: wrap
}