<div class="container main">

  <div class="stats padding--xxs margin-bottom--sm">
    <div class="statName margin-bottom--xxs">
      <h3>PvE Competitive</h3>
      <p>{{stats.activitiesEntered.basic.displayValue}} Matches</p>
    </div>
    <div class="stat">
      <div class="padding-right--sm">
        <h4>KD</h4>
        <p>{{stats.killsDeathsRatio.basic.displayValue}}</p>
      </div>
      <div class="padding-right--sm">
        <h4>KDA</h4>
        <p>{{stats.killsDeathsAssists.basic.displayValue}}</p>
      </div>
      <div class="padding-right--sm">
        <h4>Kills</h4>
        <p>{{stats.kills.basic.displayValue}}</p>
      </div>
      <div class="padding-right--sm">
        <h4>Assists</h4>
        <p>{{stats.assists.basic.displayValue}}</p>
      </div>
      <div class="padding-right--sm">
        <h4>Wins</h4>
        <p>{{stats.activitiesWon.basic.displayValue}}</p>
      </div>
      <div class="padding-right--sm">
        <h4>Win Ratio</h4>
        <p>{{stats.winLossRatio.basic.displayValue}}</p>
      </div>
    </div>
  </div>

  <div class="stats padding--xxs">
    <div class="statName margin-bottom--xxs">
      <h3>Reckoning</h3>
      <p>{{stats.activitiesEntered.basic.displayValue}} Matches</p>
    </div>
    <div class="stat">
      <div class="padding-right--sm">
        <h4>KD</h4>
        <p>{{stats.killsDeathsRatio.basic.displayValue}}</p>
      </div>
      <div class="padding-right--sm">
        <h4>KDA</h4>
        <p>{{stats.killsDeathsAssists.basic.displayValue}}</p>
      </div>
      <div class="padding-right--sm">
        <h4>Kills</h4>
        <p>{{stats.kills.basic.displayValue}}</p>
      </div>
      <div class="padding-right--sm">
        <h4>Assists</h4>
        <p>{{stats.assists.basic.displayValue}}</p>
      </div>
    </div>
  </div>

</div>
