.main {
  display: flex;
  flex-direction: column;
  margin: calc(100vh/3) auto; 
  text-align: center;
}

.main > img {
  height: 25px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain
}

app-search-bar {
  @media screen and (max-width: 767px) {
    width: calc(100vw/2);
  }

  @media screen and (min-width: 768px) {
    width: calc(100vw/3.5);
  }
  margin: 0 auto
}